Repository colobot/colobot, pull requests merged in 2018-05, with the labels that each got.

#1129 Add realtime scoreboard sorting
  src/level/parser/parserparam.cpp
  src/level/parser/parserparam.h
  src/level/robotmain.cpp
  src/level/scoreboard.cpp
  src/level/scoreboard.h
Labels: enhancement, ui

#1146 Implement viewpoint feature
  src/common/event.cpp
  src/common/event.h
  src/level/robotmain.cpp
  src/level/robotmain.h
Labels: enhancement, level files, ui

#1151 Fix saving/loading "NewScript" programs for factory bots
  src/level/robotmain.cpp
  src/object/auto/autofactory.cpp
Labels: CBOT, bug, gameplay

#1143 Fix global sounds being positioned at camera
  src/sound/oalsound/alsound.cpp
  src/sound/oalsound/alsound.h
  src/sound/oalsound/channel.cpp
  src/sound/oalsound/channel.h
Labels: sound

#1148 Improve text rendering performance
  src/graphics/engine/text.cpp
  src/graphics/engine/text.h
Labels: graphics

#1149 Improve object visibility culling with tighter bounding spheres
  src/graphics/engine/engine.cpp
  src/graphics/engine/engine.h
  src/math/sphere.h
Labels: graphics

#1150 Add generic debug rendering functions
  src/graphics/engine/engine.cpp
  src/graphics/engine/engine.h
  src/level/robotmain.cpp
Labels: graphics

#1152 Improve shadow quality and performance in gl33
  src/graphics/opengl/shaders/gl33/fs_normal.glsl
Labels: enhancement, gl33, graphics

#1154 Fix shadow shimmering
  src/graphics/engine/engine.cpp
Labels: graphics

#1136 Some CBot code optimizations
  src/CBot/CBotClass.cpp
  src/CBot/CBotClass.h
  src/CBot/CBotInstr/CBotFunction.cpp
  src/CBot/CBotInstr/CBotFunction.h
  src/CBot/CBotToken.cpp
  src/CBot/CBotToken.h
  src/CBot/CBotVar/CBotVar.cpp
  src/CBot/CBotVar/CBotVar.h
  src/CBot/CBotVar/CBotVarArray.cpp
  src/CBot/CBotVar/CBotVarClass.cpp
  src/CBot/CBotVar/CBotVarPointer.cpp
Labels: CBOT
