Repository colobot/colobot, pull requests merged in 2020-08, with the labels that each got.

#1345 Fix abs() only working on floats
  src/CBot/stdlib/MathFunctions.cpp
Labels: CBOT

#1349 Fix warning regarding mismatched parameter types
  src/CBot/stdlib/MathFunctions.cpp
Labels: compilation

#1348 Add cell capacity parameters (#1242)
  src/level/robotmain.cpp
  src/level/robotmain.h
  src/object/old_object.cpp
Labels: enhancement, gameplay, level files
